.outer{
    height: 600px;
    width: 600px;
    background-color: antiquewhite;
    border: 5px solid black;
    display: flex;

    /* flex-direction: column;
    justify-content: column-start; */

    /* flex-direction: column-reverse;
    justify-content: column-start; */

    /* flex-direction: row;
    justify-content: row-start; */

    /* flex-direction: row-reverse;
    justify-content: row-start; */

    flex-direction: row;
    justify-content: flex-end;

    /* flex-direction: row-reverse;
    justify-content: flex-end; */


}
.outer div{
    height: 80px;
    width: 80px;
    color: white;
    font-weight: bold;
    text-align: center;
}