#box1{
    height: 70px;
    width: 200px;
    background-color: rgb(229, 240, 71);
    margin: 100px;
    transform: translate(100px,20px);
    
}
  #box2{
      height: 70px;
      width: 200px;
      background-color: rgb(0, 119, 128);
      margin: 100px;
      transform: translate(40px, 40px);
  }
  #box3{
    height: 70px;
    width: 200px;
    background-color: rgb(125, 240, 71);
    margin: 100px;
    transform: translateX(30px);
    
}
#box4{
    height: 70px;
    width: 200px;
    background-color: rgb(229, 240, 71);
    margin: 100px;
    transform: translate(-100px,-80px);
    
}


  