*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif; ;
}
.main_box{
    background-image: url(photo.jpg);
    height: 100vh;
    background-size: cover;
}
.btn_one i{
    color: white ;
    font-size: 25px;
    font-weight: 900;
    line-height: 60px;
    position: absolute;
    left: 19px;
    top: 30px;
    z-index: 1;
    cursor: pointer;
    transition: all 0.5s ease-in-out 0.1s;
}
.sidebar_menu{
    position: fixed;
    left: -320px;
    width: 300px;
    background-color: rgba(190, 186, 186, 0.354);
    box-shadow: 0px 0px 4px  rgb(138, 135, 135);
    height: 100vh;
    transition: all 0.5s ease-in-out 0.1s;
}
.sidebar_menu .logo{
    width: 100%;
    height: 80px;
    position: absolute;
    box-shadow: 0px 2px 2px  rgb(102, 102, 102);
    line-height: 60px;
    
}
.sidebar_menu .logo a {
    position: absolute;
    left: 60px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
    top: 30px;
}
.sidebar_menu .btn_two i{
    position: absolute;
    left: 265px;
    font-size: 20px;
    line-height: 60px;
    top: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease-in-out 0.1s;
}

.sidebar_menu .menu{
    color: white;
    position: absolute;
    width: 100%;
    top: 100px;

}
.sidebar_menu .menu li{
    list-style: none;
    padding: 14px 20px;
   
    
}
.sidebar_menu .menu li a{
    padding-left: 5px;
}

.sidebar_menu .menu a {
    color: white;
    text-decoration: none;
}
.sidebar_menu .social_media{
    position: absolute;
    bottom: 20px;
    left: 25%;
}
.sidebar_menu .social_media i {
    padding: 0px 5px;
}
.sidebar_menu .social_media ul i {
    
    color: white;
    opacity: 0.5;
}
#check{
    display: none;
}
.sidebar_menu .btn_two i:hover{
    font-size: 30px;
    
}
.btn_one i:hover{
    font-size: 30px;
    
}
.sidebar_menu .logo:hover{
    
}
.btn_two:hover{
    font-size: 30px;
    
}
.sidebar_menu .menu li:hover{
    /* background-color: rgba(190, 186, 186, 0.354); */
    box-shadow: 0px 0px 4px  rgb(138, 135, 135);
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.1);
}
#check:checked ~ .sidebar_menu{
    left: 0px;
}
#check:checked ~ .btn_one i {
    opacity: 0;
}