.container{
    width: 600px;
    height: 300px;
    background-color: rgb(198, 241, 241);
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px ;
}
.item{
    /* if we remove height and width then the gird item will be automatic filled in grid cell */
    /* width: 100px;
    height: 50px; */
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}